VK_TOKEN=vk1.a.your_group_token
VK_CONFIRMATION_CODE=your_confirmation_code
VK_SECRET=your_callback_secret
VK_API_VERSION=5.199

PROJECT_NAME=BLESK RUSSIA
SERVER_IP=127.0.0.1:7777
SERVER_STATUS=Технические работы
VK_ADMIN_PEER_ID=
RULES_URL=
APPLICATION_URL=
